@charset "UTF-8";
@font-face {
    font-family: start;
    src: url(fontes/PressStart2P-Regular.ttf) format(truetype);
}
* {
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(imagens/thumb-1920-966310.jpg);
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px ridge #FE6516;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    width: 550px;
    height: 450px;
    background-image: linear-gradient(244grad, #afa4ea00 1%,#3416cacc 97%,#5e34df 2%);
}

form > p {
    font-size: 1.1em;
    font-family: start;
    margin: 0px;
    border-radius: 10px;
    position: relative;
    top: 35%;
    left: -120px;
    margin-bottom: 50px;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px #FE6516;
}
#login {
   border-radius: 10px;
   border: 2px solid yellowgreen;
}
#senha {
    border-radius: 10px;
   border: 2px solid yellowgreen;
}
#botao {
    position: relative;
    top: 150px;
    font-family: start;
    border-radius: 20px;
    padding: 10px;
    background-color: yellowgreen;
    border: 2px solid;
    border-color: #FE6516;
    cursor: pointer;
}
#botao:hover {
    border: 1px solid red;
    transform: scale(1.1);
    background-image: linear-gradient(20grad, rgba(0, 0, 139, 0.959), rgba(43, 226, 73, 0.712));
    transition: .3s;
}

input {
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: -1px;
}

h1 {
    font-family: start;
    font-weight: lighter;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px #FE6516, -1px -1px 1px #FE6516;
    position: absolute;
    left: 32%;
    top: 10%;  
}

#ghost {
    position: absolute;
    left: 76%;
    top: 72%;
    mix-blend-mode: multiply;
}
#bat {
    mix-blend-mode: multiply;
    position: absolute;
    left: 5%;
    top: -5%;
    width: 120px;
    height: 120px;
}
a {
    position: absolute;
    top: 80%;
    left: 30%;
    font-family: start;
    font-size: 0.7em;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    padding: 10px;
    background-color: yellowgreen;
    border: 2px solid;
    border-color: #FE6516;
}
a:hover {
    border: 1px solid red;
    transform: scale(1.1);
    background-image: linear-gradient(20grad, rgba(0, 0, 139, 0.959), rgba(43, 226, 73, 0.712));
    transition: .3s;
}